<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도서상세</title>
</head>
<body>
    <body>
        <div>
                <div>
                    도서이름 <input type="text" id="bookname" name="bookname" th:value="${bookDTORead.bookname}" readonly>
                </div>
                <div>
                    저자 <input type="text" id="bookauthor" name="bookauthor" th:value="${bookDTORead.bookauthor}" readonly>
                </div>
                <div>
                    도서내용 <input type="text" id="bookcontent" name="bookcontent" th:value="${bookDTORead.bookcontent}" readonly>
                </div>
                <div>
                    등록일 <input type="text" id="bookcontent" name="bookcontent" th:value="${bookDTORead.bookregdate}" readonly>
                </div>
                <div>
                    수정일 <input type="text" id="bookcontent" name="bookcontent" th:value="${bookDTORead.bookmoddate}" readonly>
                </div>
                <button type="button"><a th:href="@{/book/modify(bookno=${bookDTORead.bookno})}">수정</a></button>
        </div>
    </body>
</body>
</html>