<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도서등록</title>
</head>
<body>
    <div>
        <form name="frm" method="post">
            <div>
                도서이름 <input type="text" id="bookname" name="bookname">
            </div>
            <div>
                저자 <input type="text" id="bookauthor" name="bookauthor">
            </div>
            <div>
                도서내용 <input type="text" id="bookcontent" name="bookcontent">
            </div>
            <button type="submit">등록</button>
        </form>
    </div>
</body>
</html>